<!DOCTYPE html >
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Record</title>
</head>
<body>
<h1>Users Record</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Image</th>
        <th>Reg Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${usersList}">

        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getPhoneNumber()}">Phone</td>

        <td><img th:src="${user.getImgUrl()}"></td>

        <td th:text="${user.getReg_date()}">Reg Date</td>


    </tr>
    </tbody>
</table>
</body>
</html>